[submodule "libcork"]
	path = libcork
	url = https://github.com/shadowsocks/libcork.git
    ignore = dirty
[submodule "libipset"]
	path = libipset
	url = https://github.com/shadowsocks/ipset.git
    ignore = dirty
[submodule "libbloom"]
	path = libbloom
	url = https://github.com/shadowsocks/libbloom.git
    ignore = dirty
[submodule "kcp"]
	path = kcp
	url = git@github.com:skywind3000/kcp.git
[submodule "libebb"]
	path = libebb
	url = git@github.com:wangjian1009/libebb.git
[submodule "cpe"]
	path = cpe
	url = git@github.com:wangjian1009/cpe.git
[submodule "net"]
	path = net
	url = git@github.com:wangjian1009/net.git
